.navbar-header {
	background-color: #1569c7; 
	border-bottom: solid 5px #105196;
	color: white;
	height: 4.5em;
	margin: 0 auto;
}

.navbar-inverse>.container {
	height: 100%;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: initial;
}

.navbar-inverse .navbar-nav>.open>li, .navbar-inverse .navbar-nav>.open>li:hover, .navbar-inverse .navbar-nav>.open>li:focus {
	background-color: #434343;
}

.navbar-inverse .navbar-nav>.active, 
.navbar-inverse .navbar-nav>.active:hover,
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #00b22d;
	height: 108%;
}
.navbar-inverse .navbar-nav>.active, 
.navbar-inverse .navbar-nav>.active:hover {
	height: 108%;
	border-bottom: solid 5px #21701D;
}

.new-collapse,
.new-collapse>.navbar-brand,
.new-collapse>.navbar-nav, 
.new-collapse>.navbar-nav>li, 
.new-collapse>.navbar-nav>li>a {
	height: 100%;
}

.new-collapse>.navbar-nav>li {
	padding: 1.3em;
	height: 100%;
}

.new-collapse>.navbar-nav>li>a {
  	line-height: 0px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-size: 18px;
}

.navbar-inverse .navbar-nav>li:hover {
	background-color: #434343;
	height: 108%;
	border-bottom: solid 5px #2b2828;
}

.logo {
	float:left;
    padding:10px;
    margin-top:-15px;
}

#logo-text {
	width: 185px;
  	padding: 0;
  	padding-top: 8px;
}

.top {
	width: 85%;
}

.main {
	margin-top: 0.9em;
	width: 100%;
	padding-right: 0px;
  	padding-left: 0px;
}

#learn {
	border-left: solid 1px #dfdfdf;
}

#login {
	border-left: solid 1px #dfdfdf;
	border-right: solid 1px #dfdfdf;
}

#signup {
	border-right: solid 1px #dfdfdf;
}

.starter-template {
	background-image: url('https://studypool-likepluminc.netdna-ssl.com/pictures/jimmyv3.png');
	width: 100%;
	height: 33em;
	color: black;
	padding: 0;
	margin-top: -5px;
}

.main-ad {
	padding-top: 3.6em;
	width: 85%;
	height: 100%;
}

.whitebar {
	background-color:#333;
	opacity:0.8;
	width:100%;
	margin-top: -5.8em;
}

.wb-container {
	height:5.8em;
	width: 60%;
}

.headline {
	text-align: center;
	letter-spacing: -.02em;
	color: #31506C;
	font-size: 43px;
	line-height: 1.1em;
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica;
}

.links {
	text-align: center;
	margin-top: 4.5em;
}

.first-row {
	margin-bottom: 1.5em;
}

.second-row {
	color: #808080;
	font-size: 1.5em;
}

.signup-button {
	font-size: 25px;
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 20px;
	color: #FFF;
	background-color: #ff5b45;
	border-bottom: solid 5px #E74E39; 
	border-radius: 4px;
	text-decoration: none;
}

.signup-button:hover {
	text-decoration: inherit;
	color: white;
}

#rest {
	margin-top: -0.7em;
	margin-left: -6em;
}

#learn-div{
	margin-left: -4em;
}

#learn-button {
	margin-left: 1em;
	font-size: 2em;
}


#learn-button:hover {
	text-decoration: inherit;
}

.signup-div { 
	margin-top: -0.7em;
	margin-left: 28%;
	text-align: center;
}

@keyframes slide-up
{
    from { margin-top: -0.7em; } to { margin-top: -1.5em; }
}

@-webkit-keyframes slide-up
{
    from { margin-top: -0.7em; } to { margin-top: -1.5em; }
}


.signup-div:hover
{
   position: relative; 
   margin-top: -1.5em;
   -webkit-animation-name: slide-up; 
   -webkit-animation-duration: 2s; 
}

@keyframes slide-up2
{
    from { margin-top: 0em; } to { margin-top: -0.7em; }
}

@-webkit-keyframes slide-up2
{
    from { margin-top: 0em; } to { margin-top: -0.7em; }
}

#signup-div2:hover
{
   position: relative; 
   margin-top: 0em;
   -webkit-animation-name: slide-up2; 
   -webkit-animation-duration: 2s; 
}

#or {
	color: #808080;
  	font-size: 2em;
}

#or:hover {
	text-decoration: inherit;
}

#three, #three>.col-sm-4 {
	height: 100%;
	color: white;
}

.small {
	height: 100%;
	font-size: 4em;
}

.large {
	height: 66%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.large-l {
	font-size: 1.6em;
}

.large-s {
	margin-top: -0.5em;
	color: #d8d8d8;
}

.scrollableArea {
	height: 10em;
	background-color: #f5f5f5;
	border-bottom: solid 1px  #d3d1d1;
	margin: auto; 
    text-align: center;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.recentQuestions {
	height: 60em;
	background-color: white;
	text-align: center;
	width: 70%;

}

.recentQuestions>ul>a {
	text-align: left;
	border-right: 0;
	border-left: 0;
	height: 4.6em;
	padding-top: 0.9em;
	color: #0088cc;
	font-size: 1.2em;
	font-weight: 500;
}

.recentQuestions>ul>a:hover {
	background-color: #f7fafc;
}

#days {
	color: #99999f;
	font-size: 0.7em;
	font-weight: 200;
}

.budget {
	text-align: center;
	color: black;
}
.budget {
	text-align: center;
	color: black;
	font-size: 1.2em;
}

.bids {
	color: #99999f;
	font-size: 1.2em;
}

.more {
	height: 60em;
	background-color: #f5f5f5;
	border-top: solid 1px  #d3d1d1;
	border-bottom: solid 1px  #d3d1d1;
	text-align: center;
}

.more>.container {
	width: 70%;
	height: 100%;
}

.cred {
	height: 10em;
	background-color: #f5f5f5;
	border-bottom: solid 1px  #d3d1d1;
}

.extra {
	height: 10em;
	background-color: #2b3336;
	border-bottom: solid 1px  #d3d1d1;
}

#secondSignup {
	background-color: #00b22d;
	border-bottom: solid 5px #21701d; 
}

hr {
	background: #ddd;
	color: #ddd;
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
}

.more-row {
	height: 11em;
	text-align: left;
}

.cred>.container {
	width: 70%;
	height: 100%;
}

.down {
	margin-top: 2em;
}

.modal-dialog {
	margin-top: 18em;
}

.modal-header {
	background-color: #0a3464;
	color: white;
	border-bottom: solid 5px #08284b;
	text-shadow: 5px 3px #08284b;
}

#profile-pic {
	border-radius: 10%;
	box-shadow: 3px 3px 1px #888888;
	width: 100%;
}

.hoverable:hover {
	text-decoration: none;
}
.hoverable-div {
  margin-top: 1.8em;
  font-size: 1.1em;
}

#nick {
	font-size: 1.47em;
}

.highlight:hover {
	background-color: #e9e9e9;
	border-radius: 1%;
}

.align {
	padding-left: 2em;
}

.qw:hover {
	text-decoration: none;
}

.align>h4 {
	margin: 0.3em -0.5em;
}

#down span {
	 margin-top: 0;
  color: white;
  font-size: 1.5em;

}

#down-content span {
	margin-top: 0;
	color: initial;
	font-size: 1em;
}

.nav .open>a, .nav .open>a:hover {
	background-color: initial;
}

.dropdown-menu {
	margin-top: 1.2em;
}

.question-banner {
	text-align: center;
}

.page-header {
	margin: 14px 0 20px;
}

#q:hover {
	text-decoration: none;
}

.bid {
	 font-size: 50%;
  margin-top: -0.4em;
    background-color: #00b22d;
    border-bottom: solid 5px #21701D;
}
.bid:hover {
	background-color: #21701D;
	border-bottom: solid 5px #1a4f17;
}

#down:hover {
	background-color: #21701D;
	border-bottom: solid 5px #1a4f17;
}


.bid-but {
	text-align: center;
	margin-top: 2em;
}

#small-but {
	font-size: 115%;
	 padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}

.qfooter:hover, .qfooter>div:hover {
	text-decoration: none;
	background-color: #e4eaf0;
}

.second-header {
  margin: 14px 0 20px;
}

.small-sign {
	  font-size: 17px;
  padding-left: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 12px;
  margin-right: 1em;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.upp>li>a {
	margin-top: -0.5em;
}

.dropdown-menu {
	padding: 0em;
	  border: 0;
  border-radius: 6%;
}

.menu-inside {
	width: 20em;
}

.panel-default {
	margin: 0em;
}

.popover.fade.right.in {
	width: 17em;
}

.col-sm-3>hr {
	margin:0;
	height:0;
}

.tutor-modal {
	width: 62%;
	margin-top: 4em;
}

.hey:hover {
	background-color: #f6f6f6;
}
